@media (min-width: 0px) {
    .calendar-container {
        margin-top: 15%;
    }
}
@media (min-width: 768px) {
    .calendar-container {
        margin-top: 4%;
    }
}
@media (min-width: 922px) {
    .calendar-container {
        margin-top: 1%;
    }
}