@import '../../styles/colors';

// Large devices (desktops, 992px and up)
@media (min-width: 922px) {
    
    .video-preview {
        display: grid;
        grid: 177px auto / 315px;
        cursor: pointer;
    }
    
    .image-container {
        position: relative;
        grid-row: 1 / 2;
        grid-column: 1 / 2;

        img {
            width: 314px;
        }
            
        /* Video duration label at bottom right */
        .time-label {
        /* ... */
        position: absolute;
        background: $primary;
        bottom: 0;
        right: 0;
        opacity: 0.8;
        border-radius: 2px;
        font-weight: 500;
        color: white;
        margin: 4px;
        padding: 6px 6px;
        line-height: 12px;
        }
    }

    .video-info {
        color: #242728;
        padding-top: 5px;
        
        .video-preview-metadata-container {
        padding-top: 5px;
        font-size: 13px;
        color: #6E6E6E;
    
            .channel-title {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
    
        .show-max-two-lines {
        overflow: hidden;
        line-height: 1.4em;
        max-height: 2.8em;
        }
    
        .semi-bold {
        font-weight: 600;
        }
    }
}