@import '../../styles/colors';
@import '../../styles/App.scss';

// Large devices (desktops, 992px and up)
@media (min-width: 0px) {
  #crear-programa {
    h4 {
      color: $primary;
      margin-bottom: 3%;
    }

    .avatar {
      position: relative;
      background-color: $background-dark-light;
      width: 150px;
      height: 150px;
      margin: auto;
      border-radius: 10%;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;

      &:hover {
        cursor: pointer;
      }

      svg {
        width: 30px;
        margin-top: 40%;
        margin-left: 40%;
        fill: white;
        &:hover {
          fill:$font-dark
        }
      }
    }

    .divider-sections {
      border-color: $primary-green;
    }
  }
}