@import "../../styles/App.scss";


// Large devices (desktops, 992px and up)
@media (min-width: 922px) {
#card-entidad-main {
        display: flex;
        align-items: center;
    #col-icon {
        justify-content: center;
        padding-left: 7%;
        margin-top: 7%;
        
    }
      #col-stat {
        margin-top: 7%;
        padding-left: 7%;
        text-align: start;
        margin-right: 0%;
        
    
        h5 {
          color: var(--secondary-color);
          font-family: var(--bold);
        }
      }
    }
}
@media (min-width: 1200px) {
#card-entidad-main {
        display: flex;
        align-items: center;
    #col-icon {
        justify-content: center;
        padding-left: 7%;
        margin-top: 12%;
        
    }
      #col-stat {
        margin-top: 12%;
        padding-left: 0%;
        text-align: start;
        margin-right: 10%;
      }
    }
}
