@import '../../styles/colors';
@import '../../styles/App.scss';


// Large devices (desktops, 992px and up)
@media (min-width: 922px) {
    #tabs-mentor-info {
        .ant-tabs {
            .ant-tabs-ink-bar {
                background: var(--primary-color);
            }
            .ant-tabs-nav::before {
                border-color: #cccccc;
            }

            .ant-tabs-nav-wrap {

                .ant-tabs-nav-list {

                    .ant-tabs-tab{
                        color: var(--secondary-color);
                        font-family: var(--reg);
                    }
                    
                    .ant-tabs-tab-active {
                        .ant-tabs-tab-btn {
                            color: var(--secondary-color);
                            font-family: var(--bold);
                        }
                        
                    }
                }
            }

            .ant-card {
                .ant-row {
                    align-items: center;
                    .ant-col {
                        .ant-card-meta-avatar {
                            margin-left: 15%;
                        }
                        .ant-card-meta-title {
                            text-align: left;
                        }
                        .ant-card-meta-description {
                            text-align: left;
                        }
                        .name-empresa-educacion {
                            .ant-card-meta-title {
                                color: var(--primary-color);
                            }
                        }
                    }
                }
            }
        }
    }

}
// Extra-Large devices (desktops, 1280px and up)
@media (min-width: 1366px) {
    #tabs-mentor-info {
        .ant-tabs {
            .ant-tabs-nav::before {
                border-color: #cccccc;
            }

            .ant-card {
                .ant-row {
                    align-items: center;
                    .ant-col {
                        .ant-card-meta-avatar {
                            margin-left: 15%;
                        }
                        .ant-card-meta-title {
                            text-align: left;
                        }
                        .ant-card-meta-description {
                            text-align: left;
                        }
                    }
                }
            }
        }
    }
}