@import '../../../components/styles/colors';

// Small devices (landscape phones, 576px and up)
@media (min-width: 0px) {
  #home-user-mentor {
    .eventos-hoy {
    text-align: center;

      h1 {
        font-family: var(--bold);
        color: var(--secondary-color);
        margin-top: 8%;
        font-size: 150%;
      }
    }

    .eventos-hoy-no {
      margin-left: 4%;
      display: flex;
      justify-content: center;
      background-color: var(--paper-color);
    }

    .mis-programas {
        margin-top: 5%;
        h2 {
            font-family: var(--bold);
            color: var(--secondary-color);
            font-size: 5.5vw;
        } 
    }

    .conecta-mentor {
      text-align: left;
      margin-top: 0%;
    }
  }
}