@import '../../../components/styles/colors';


@media (min-width: 768px) {
  #home-user-mentor {
    .eventos-hoy {
      margin-left: 0%;
      text-align: left;

      h1 {
        font-size: 210%;
        margin-top: 3%;

      }   
    }
    .eventos-hoy-no {
      margin-left: 4%;
      display: flex;
      justify-content: center;
    }

    .mis-programas {
        margin-top: 3%;
        h2 {
            font-size: 3vw;
        } 
    }
    .conecta-mentor {
      text-align: left;
      justify-content: center;
      margin-top: 5%;
    }
  }
}