@import '../../../components/styles/colors';


@media (min-width: 768px) {
  #marketplace {
    .ant-layout-header {
      padding-left: 0%;
      padding-right: 0%;
      margin-bottom: 5%;

      h3 {
        text-align: left;
      }

      .ant-row {
        //   display: flex;
        //   justify-content: space-between;
          align-items: center;
        .btns-top-marketplace {
            
            .ant-btn {
                justify-items: flex-end;
                background-color: transparent;
                border: none;

                .cart-icon {
                    size: 10em;
                    margin-right: 10%;
                }
            }
        }
      }

     

      .header-marketplace {
        z-index: 100;
        margin-top: 0px;
        margin-bottom: 10px;
      }

    }
    .ant-row {
      h2 {
        font-size: 1.8vw;
        margin-top: 10%;
        padding-bottom: 2%;
        text-align: start;
      }
    }

    .ant-layout-sider {
      margin-right: 5%;

      h6 {
          text-align: left;
      }
      .ant-divider-horizontal {
        z-index: 100;
        margin-top: 10px;
        margin-bottom: 10px;
      }

    }

    .row-nav-marketplace {
      margin-bottom: 150px;
    }
    
  }
}