@import '../../styles/colors';
@import '../../styles/App.scss';


// Large devices (desktops, 992px and up)
@media (min-width: 922px) {
    #card-actividad {
        margin-left: 1.2%;
        margin-right: 1.2%;
        .description-activity {
            position: relative;
            height: 90px;
            overflow-x: hidden;
            p {
                height: 100%;
                width: 100%;
            }
        }
        .info-actividad {
            h5 {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            .responsables-actividad {
                margin-bottom: 1.8%;
            }
        }
        .fechas-actividad {
            p {
                margin-bottom: 1%;
            }
            .ant-divider {
                height: 50px;
            }
        }

        .incompleta {
            .ant-checkbox {
                .ant-checkbox-inner {
                    border-color: red;
                }
            }
        }

        .completada {
            .ant-checkbox {
                .ant-checkbox-inner {
                    background-color: $primary-green !important;
                    border-color: $primary-green !important;
                }
            }
        }
    }
}