@import '../../styles/colors';


// Large devices (desktops, 992px and up)
@media (min-width: 922px) {

  #marketplace-info-main {
    .ant-row {
      justify-content: start;

      h1 {
        color: var(--secondary-color);
        font-family: var(--bold);
        font-size: 1.5vw;
        text-align: start;
      }

      p {
        color: var(--primary-text-color);
        font-family: var(--light-font);
        text-align: start;
        font-size: small;
      }

      .datos-contacto {
        text-align: start;
        margin-right: 5%;

        h5 {
          color: var(--primary-text-color);
          font-family: var(--bold);
        }
      }

      .ant-col {
        //justify-content: start;
        .button-ant-save {
            //justify-items: flex-end;
            margin-left: 30%; 
            .bookmark {
                margin-left: 8%;
              }
              .bookmark-fill {
                margin-left: 8%;
              }
        }
      }
      
    }
    .btn-agendar {
        display: block;
        justify-content: flex-end; 
      }
  }
}
