@import "../../styles/colors";

// Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 0px) {
  #icono-sidebar {
    img {
      width: 35px;
      height: auto;
      margin-left: -4px;
    }
  }
  #icono-sidebar-fbd {
    img {
      width: 120px;
      height: auto;
      margin-left: -4px;
    }
  }
}