@import '../../styles/colors';
@import '../../styles/App.scss';


// Large devices (desktops, 992px and up)
@media (min-width: 922px) {
    #mentor-info-basica {
        .ant-divider {
            border-color: var(--tertiary-text-color);
            margin-top: 10px;
            margin-bottom: 10px;
        }
        .datos-mentor {
            // display: flex;
            align-items: center;
            .dato {
                p {
                    color: var(--tertiary-text-color);            
                    font-family: var(--light-font);
                    margin-bottom: 0;
                    font-size: small;
                    text-align: left;
                }
                .ant-divider-vertical {
                    margin-top: 0;
                    margin-bottom: 0;
                }
            }
        }
        .bio-mentor {
            margin-top: 5%;
            .bio {
                h4 {
                    color: var(--secondary-color);
                    font-family: var(--medium);
                    font-size: 1.6vw;
                    text-align: left;
                }
                p {
                    color: var(--primary-text-color);
                    font-family: var(--light-font);
                    font-size: 1.4vw;
                    text-align: left;
                }
            }
        }

        .tags-mentor {
            margin-top: 3%;
            .tags {
                .ant-tag {
                    margin-bottom: 2%;
                }
            }
        }
    }
}
// Extra-Large devices (desktops, 1280px and up)
@media (min-width: 1366px) {
    #mentor-info-basica {
        .ant-divider {
            margin-top: 5px;
            margin-bottom: 5px;
        }
        .datos-mentor {
            // display: flex;
            align-items: center;
            .dato {
                p {          
                    margin-bottom: 0;
                    font-size: 0.8vw;
                    text-align: left;
                }
                .ant-divider-vertical {
                    margin-top: 0;
                    margin-bottom: 0;
                }
            }
        }
        .bio-mentor {
            margin-top: 3%;
            .bio {
                h4 {
                    font-size: 1.2vw;
                    text-align: left;
                }
                p {
                    font-size: 0.9vw;
                    text-align: left;
                }
            }
        }

        .tags-mentor {
            margin-top: 3%;
            .tags {
                .ant-tag {
                    margin-bottom: 2%;
                }
            }
        }
    }
}