@import '../../styles/colors';

//Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    #mentor-info-main {
        .ant-row {
        justify-content: start;
        h1 {
            font-size: 2.5vw;
        }

      h4 {
        font-size: 1.6vw;
        text-align: start;
      }

        p {
            font-size: medium;
        }

        .datos-contacto {
            text-align: start;
            margin-right: 5%;
        }

        .ant-col {
            justify-content: start;

           
            .btn-accion {
                margin-right: 10%;
                font-size: small;
            }

            .button-ant-editar {
                padding: 3%;
                padding-right: 10%;
                padding-left: 5%;
                margin-bottom: 5%;
              }
        }
        .btn-editar {
            display: block;
            justify-content: flex-end;
        }
    }
    }


}