@import '../../styles/colors';

// Large devices (desktops, 992px and up)
@media (min-width: 0px) {

  #perfil-mentor-detalle > header {
    margin-bottom: 0 !important;

  }
  #perfil-detalle-mentor {
      background-color: transparent;
      padding: 3%;
    .ant-row {
      display: flex;
      justify-content: center;
    }

      .avatar {
      position: relative;
      margin: auto;
      background-color: var(--secondary-color);
      min-width: 150px;
      height: 150px;
      border-radius: 50%;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }
    
    .avatar-card-entidad {
      position: relative;
      margin: auto;
      background-color: var(--secondary-color);
      min-width: 90px;
      height: 90px;
      border-radius: 50%;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }

    p {
      font-family: var(--light-font);
      color: var(--secondary-color);
      font-size: 0.9vw;
    }

    .ant-progress {
      padding-bottom: 1%;
    }
  }
}