@import '../../styles/colors';
@import '../../styles/App.scss';


// Large devices (desktops, 992px and up)
@media (min-width: 768px) {
    #card-equipo-empresa {
        margin-top: 0%;

        .equipo-nombre {
            align-items: flex-end;
            margin-bottom: 1%;
            .ant-col {
                h4 {
                    color: var(--primary-text-color);
                    font-family: var(--bold);
                    font-size: x-large;
                }
                p{
                    font-family: var(--light-font);
                    color: var(--tertiary-text-color);
                }
            }
        }

        .info-integrante {
            p {
                margin-bottom: 0.5%;
            }
        }
    }
}