@import '../../../components/styles/colors';


@media (min-width: 922px) {
  #perfil-emprendedor-detalle {
    .ant-row {
      .ant-col {
        h2 {
          font-family: var(--medium);
          color: var(--secondary-color);
          font-size: 1.6vw;
          margin-top: 3% !important;
          padding-bottom: 2%;
          text-align: start;
        }
      }
    }
    .programas {
      margin-top: 3%;
      h5 {
          color: var(--secondary-color);
          font-family: var(--medium);
          font-size: 1.6vw;
      }
    }
  }
}