@import '../../styles/colors';
@import '../../styles/App.scss';

// Small devices (landscape phones, 576px and up)
@media (min-width: 0px) {
    #sider-agendar { 
        margin-top: 2%;       
        .ant-card-body {
            .ant-divider {
                margin-top: 1%;
                margin-bottom: 2%;
            }
            .ant-row {
                display: flex;
                justify-content: space-around;

                h6 {
                    text-align: left;
                }
                .inicio {
                    p {
                        text-align: left;
                        margin-bottom: 1%;
                    }
                }
                .final {
                    p {
                        text-align: right;
                        margin-bottom: 1%;
                    }
                }
            }
            .ant-btn {
                background-color: var(--primary-color);
                color: var(--paper-color);
                font-family: var(--bold);
                margin-top: 5%;
            }
        }
                
    }
}