@import '../../../components/styles/colors';


@media (min-width: 922px) {
  #perfil-mentor-detalle {
    .ant-layout-header {
      padding-left: 0%;
      padding-right: 0%;
      margin-bottom: 3%;

      h3 {
        text-align: left;
        color: var(--secondary-color);
        font-family: var(--bold);
      }

      .ant-divider-horizontal {
        border-color: var(--tertiary-text-color);
        z-index: 100;
        margin-top: 10px;
        margin-bottom: 10px;
      }

    }
    .ant-row {
      h2 {
        font-family: var(--bold);
        color: var(--secondary-color);
        font-size: 1.8vw;
        margin-top: 10%;
        padding-bottom: 2%;
        text-align: start;
      }
    }

    .ant-layout-sider {
      background-color: var(--ant-background-color) !important;
    }
    
  }
}