@import '../../styles/colors';

// @media (min-width: 922px) {
@media (min-width: 57.625em) {
    #banner-home-eco {
        .col-banner-text {
            margin-top: 30%;
            h1 {
                color: $primary;
                font-family: ObjectiveExtra;
                font-size: 180%;
            }
            p {
                color: $font-dark;
                font-family: ObjectiveRegular;
                font-size: 120%;
            }

            .btn-banner-home3 {
                background-color: $primary-green;
                color: white;
                font-family: ObjectiveMedium;
                border: none;
            }
            .btn-banner-home3:hover {
                background-color: #b2d64f;
                color: white;
                font-family: ObjectiveMedium;
                border-radius: 2px;
                border: none;
            }
        }
    }
}

// @media (min-width: 1023px) {
@media (min-width: 63.9375em) {
    #banner-home-eco {

    .col-banner-text {
        margin-top: 0%;
        h1 {
            font-family: ObjectiveExtra;
        }
        p {
            font-family: ObjectiveRegular;
        }
    }
}
}
// @media (min-width: 1024px) {
@media (min-width: 64em) {
    #banner-home-eco {

    .col-banner-text {
        margin-top: 0%;
        h1 {
            font-family: ObjectiveExtra;
        }
        p {
            font-family: ObjectiveRegular;
        }
    }
}
}

// @media (min-width: 1200px) {
@media (min-width: 75em) {
    #banner-home-eco {
        .col-banner-text {
            margin-top: 30%;
            h1 {
                font-family: ObjectiveExtra;
                font-size: 280%;
            }
            p {
                font-family: ObjectiveRegular;
                font-size: 120%;
            }
        }
    }
}