@import '../../styles/colors';

@media (min-width: 768px) {
    .video-metadata {
        color: #707070;
        font-size: 16px;
        position: static;
        margin-top: 3%;
    
        h3 {
            font-family: ObjectiveMedium;
            color: $primary;
            font-size: large;
        }
    
        .video-stats {
            display: flex;
            justify-content: space-between;
            width: 100%;
            align-items: center;
        }
    }
}