$primary:  #00495d ;
$primary-light: #b2dde7;
$primary-grey: #567277;
$primary-dark-light: #054759;
$primary-dark: #012a33;
$primary-green:  #94c01f;

$font-primary: $primary;
$font-light: #fff;
$font-grey: $primary-grey;
$font-dark: #242728;


$border-primary: $primary;
$border-light: #fff;
$border-grey: #38444d;
$border-dark: $primary-dark;

$background-light: #fff;
$background-grey-dark: $primary-dark;
$background-dark-light: $primary-dark-light;

$danger: #e0245e;
$danger: #e0245e;