@import '../../styles/colors';
@import '../../styles/App.scss';

// Small devices (landscape phones, 576px and up)
@media (min-width: 0px) {
    #mentor-info-basica {
        .ant-divider {
            margin-top: 5px;
            margin-bottom: 5px;
        }
        .datos-mentor {
            align-items: center;
            .dato {
                p {          
                    font-family: var(--light-font);
                    margin-bottom: 0;
                    font-size: small;
                    text-align: left;
                }
                .ant-divider-vertical {
                    margin-top: 0;
                    margin-bottom: 0;
                }
            }
        }
        .bio-mentor {
            margin-top: 5%;
            .bio {
                h4 {
                    font-family: var(--medium);
                    font-size: 2.9vw;
                    text-align: left;
                }
                .bio-description {
                    font-family: var(--light-font);
                    font-size: 0.9vw;
                    text-align: left;
                    display: -webkit-box;
                    -webkit-line-clamp: 4;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                }
            }
        }
        .tags-mentor {
            margin-top: 3%;
            .tags {
                .ant-tag {
                    margin-bottom: 2%;
                }
            }
        }
    }
}