@import '../../styles/colors';

// @media (min-width: 768px) {
@media (min-width: 48em) {
    #founders-home-container {
        background-color: none;
        padding-bottom: 6%;

        .founders-titulo {
            margin-top: 1%;
            margin-bottom: 0%;

            h1 {
                color: $primary-green;
                font-family: ObjectiveExtra;
                font-size: 1000%;
            }

            h2 {
                color: white;
                align-self: center;
                font-family: ObjectiveBold;
            }
        }
        .cols-founders-home {
            justify-content: center;

            img {
                width: 210px;
                box-shadow: 6px 7px 10px #242728, 0px 0px #e5e9ea, 0px 0px #8ba2a5;
                margin-bottom: 15%;
            }
            h3 {
                font-family: ObjectiveMedium;
                color: white;
                font-size: 120%;
            }
            p {
                font-family: ObjectiveLight;
                color: white;
                margin-bottom: 20%;
                font-size: 90%;
            }       
        }
        .cols-founders-home-blanco {
            justify-content: center;

            img {
                width: 210px;
                box-shadow: 6px 7px 10px #242728, 0px 0px #e5e9ea, 0px 0px #8ba2a5;
                margin-bottom: 15%;
            }
            h3 {
                font-family: ObjectiveMedium;
                color: white;
                font-size: 120%;
            }
            p {
                font-family: ObjectiveLight;
                color: white;
                margin-bottom: 20%;
                font-size: 90%;
            }       
        }
    }
}
@media (min-width: 48.0625em) {
    #founders-home-container {
        background-color: none;
        padding-bottom: 6%;

        .founders-titulo {
            margin-top: 1%;
            margin-bottom: -5%;

            h1 {
                color: $primary-green;
                font-family: ObjectiveExtra;
                font-size: 1000%;
            }

            h2 {
                color: #242728;
                align-self: center;
                font-family: ObjectiveBold;
            }
        }
        .cols-founders-home {
            justify-content: center;

            img {
                width: 210px;
                box-shadow: 6px 7px 10px #242728, 0px 0px #e5e9ea, 0px 0px #8ba2a5;
                margin-bottom: 15%;
            }
            h3 {
                font-family: ObjectiveMedium;
                color: white;
                font-size: 120%;
            }
            p {
                font-family: ObjectiveLight;
                color: white;
                margin-bottom: 20%;
                font-size: 90%;
                background-color: rgba(0, 0, 0, 0.2);
            }       
        }
        .cols-founders-home-blanco {
            justify-content: center;

            img {
                width: 210px;
                box-shadow: 6px 7px 10px #242728, 0px 0px #e5e9ea, 0px 0px #8ba2a5;
                margin-bottom: 15%;
            }
            h3 {
                font-family: ObjectiveMedium;
                color: #242728;
                font-size: 120%;
            }
            p {
                font-family: ObjectiveLight;
                color: #242728;
                margin-bottom: 20%;
                font-size: 90%;
            }       
        }
    }
}