@import '../../styles/colors';

//Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    #card-empresa-perfil {
        margin-top: 0%;
        .logo-nombre {
            align-items: flex-end;
            margin-bottom: 5%;
            .ant-col {
                h4 {
                    color: var(--primary-text-color);
                    font-family: var(--bold);
                    font-size: x-large;
                }
                p{
                    margin-bottom: 0;
                }
            }
        }

        .meta {
            margin-top: 3%;
            h5 {
                color: var(--primary-text-color);
                font-family: var(--bold);
                font-size: medium;
            }
        }
    }
}