@import '../../styles/colors';
@import '../../styles/App.scss';

//Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    #footer-scheduler {  
        .ant-btn {
            background-color: var(--primary-color) !important;
            color: var(--paper-color);
            font-family: var(--reg);
        }
    }
}