@import '../../styles/colors';

//Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    #barra-top-filtros {
        .ant-row {
            .resultados {
                p {
                    text-align: left;
                    font-family: var(--medium);
                }
            }
            .order {
                p {
                    font-family: var(--medium);
                    text-align: right;
                }                
            }
        }
    }
}