@import "../../components/styles/App.scss";


// Large devices (desktops, 992px and up)
@media (min-width: 922px) {

.site-car-wrapper {
  width: 100% !important;
  height: 100%;
  //justify-content: space-between;
}

#card-events {
  margin-top: 3%;
  margin-bottom: 3%;
  margin-right: 0%;
  width: 100% !important;
  display: flex;
  justify-content: space-between;
  height: 100%;

  #tags-sesion {
    padding-bottom: 10px;
    padding-left: 14px;
  }

  .ant-col {
    margin-bottom: 3%;
    margin-right: 0;
  }

  .ant-card {
    border-left: 10px solid var(--secondary-color);
    border-radius: 10px;
    box-shadow: 0 1px 7px rgba(4, 5, 5, 0.8);
    height: 100%;
    width: 100%;

    .ant-card-body {
      padding: 0;
      height: 100%;
    }

    #col-events-name {
      padding-top: 5%;
      padding-left: 3%;
      margin-bottom: 0;
      h5 {
        color: var(--secondary-color);
        font-family: var(--bold);
      }
    }

    #col-events {
      width: 100% !important;
      padding-top: 1%;
      padding-left: 3%;
      padding-bottom: 3%;
      margin-bottom: 0;

      p {
        color: var(--secondary-text-color);
        font-family: var(--light-font);
        margin-bottom: 0;
        font-size: medium;
      }
    }

    #col-programs {
      width: 100% !important;
      padding-top: 0%;
      padding-left: 3%;
      text-align: center;

      a {
        font-family: var(--reg-italic);
        color: var(--primary-color);
      }

      .button-card-event {
        margin-top: 5%;
        margin-bottom: 3%;
        margin-right: 3%;
        width: 25%;
        height: 30%;
        text-align: center;

        .icon-white {
          color: var(--paper-color);
          width: 100%;
          height: 80%;
          margin-bottom: 20%;
        }
      }
      .button-card-market {
        margin-top: 5%;
        margin-bottom: 3%;
        margin-right: 3%;
        width: 96%;
        height: 30%;
        text-align: center;

        .icon-white {
          color: var(--paper-color);
          width: 100%;
          height: 80%;
          margin-bottom: 0%;
        }
      }
      .button-card-market-mentor {
        margin-top: 10%;
        margin-bottom: 30%;
        margin-right: -53%;
        width: 25%;
        height: 30%;
        text-align: center;

        .icon-white {
          color: var(--paper-color);
          width: 100%;
          height: 80%;
          margin-bottom: 20%;
        }
      }

      .button-blue {
        width: 82%;        
      }

      .button-blue-calificar {
        width: 96%;
        margin-right: 10%;
        margin-top: 0%;
      }
    }
  }
}
}

@media (min-width: 1200px) {

.site-car-wrapper {
  width: 100% !important;
  height: 100%;
  //justify-content: space-between;
}

#card-events {
  margin-top: 3%;
  margin-bottom: 3%;
  margin-right: 0%;
  width: 100% !important;
  display: flex;
  justify-content: space-between;
  height: 100%;

  .ant-col {
    margin-bottom: 3%;
    margin-right: 0;
  }

  .ant-card {
    border-radius: 10px;
    box-shadow: 0 1px 7px rgba(4, 5, 5, 0.8);
    height: 100%;
    width: 100%;

    .ant-card-body {
      padding: 0;
      height: 100%;
    }

    #col-events-name {
      padding-top: 5%;
      padding-left: 3%;
      margin-bottom: 0;
      h5 {
        font-family: var(--bold);
      }
    }

    #col-events {
      width: 100% !important;
      padding-top: 1%;
      padding-left: 3%;
      padding-bottom: 3%;

      p {
        font-family: var(--light-font);
        margin-bottom: 0;
        font-size: medium;
      }
    }

    #col-programs {
      width: 100% !important;
      padding-top: 0%;
      padding-left: 3%;
      text-align: center;

      p {
        font-family: var(--light-font);
        margin-bottom: 0;
      }

      a {
        font-family: var(--reg-italic);
      }

      .button-card-event {
        margin-top: 5%;
        margin-bottom: 3%;
        margin-right: 3%;
        width: 25%;
        height: 30%;
        text-align: center;

        .icon-white {
          width: 100%;
          height: 80%;
          margin-bottom: 20%;
        }
      }
      .button-card-market {
        margin-top: 5%;
        margin-bottom: 3%;
        margin-right: 3%;
        width: 96%;
        height: 30%;
        text-align: center;

        .icon-white {
          width: 100%;
          height: 80%;
          margin-bottom: 0%;
        }
      }
      .button-card-market-mentor {
        margin-top: 10%;
        margin-bottom: 30%;
        margin-right: -53%;
        width: 25%;
        height: 30%;
        text-align: center;

        .icon-white {
          width: 100%;
          height: 80%;
          margin-bottom: 20%;
        }
      }

      .button-blue {
        width: 82%;        
      }

      .button-blue-calificar {
        width: 96%;
        margin-right: 10%;
        margin-top: 0%;
      }
    }
  }
}
}