@import "../../components/styles/App.scss";

// Large devices (desktops, 992px and up)
@media (min-width: 922px) {
.perfil-usuario {
  padding: 3%;

  .avatar {
    position: relative;
    margin: auto;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .nombre-cargo {
    margin: 7%;
    word-wrap: break-word;

    h5 {
      font-family: var(--bold);
    }

    p {
      font-family: var(--light-font);
      font-size: medium;
      margin-bottom: 1%;

    }
  }

  .resumen-user {
    margin: 7%;
    text-align: left;

    h5 {
      font-family: var(--bold);
    }
  }

  .resumen-empresa {
    margin: 7%;
    text-align: left;

    h4, h5 {
      font-family: var(--bold);
    }

    p {
      font-family: var(--light-font);
      font-size: medium;
      margin-bottom: 3%;

    }
  }

  .ant-progress {
    padding-bottom: 5%;
  }

  .redes {
    img {
      margin-right: 4%;
    }
  }
}
}

@media (min-width: 1200px) {
.perfil-usuario {
  padding: 3%;

  .avatar {
    position: relative;
    margin: auto;
    width: 220px;
    height: 220px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .nombre-cargo {
    margin: 7%;

    p {
      font-size: medium;
      margin-bottom: 1%;

    }
  }

  .resumen-user {
    margin: 7%;
    text-align: left;
  }

  .resumen-empresa {
    margin: 7%;
    text-align: left;

    p {
      font-size: medium;
      margin-bottom: 3%;

    }
  }

  .ant-progress {
    padding-bottom: 5%;
  }

  .redes {
    img {
      margin-right: 4%;
    }
  }
}
}




