@import '../../styles/colors';

@media (min-width: 0em) {
    #banner-home3 {
        // background-color: white;
        // background-image: url('../../../assets/images/home3/img1-fondo-azul@0\,5x.jpg');
        // height: 35%;
        // width: 100%;
        // background-size: 100% auto;
        // background-repeat: no-repeat;

        .col-banner-text {
            margin-top: 20%;
            h1 {
                color: white;
                font-family: ObjectiveExtra;
                font-size: 90%;
            }
            p {
                color: white;
                font-family: ObjectiveRegular;
                font-size: 60%;
            }

            .btn-banner-home3 {
                background-color: $primary-green;
                color: white;
                font-family: ObjectiveMedium;
                border: none;
            }
        }
    }
}
// @media (min-width: 526px) {
@media (min-width: 32.875em) {
    #banner-home3 {
        .col-banner-text {
            margin-top: 20%;
            h1 {
                color: white;
                font-family: ObjectiveExtra;
                font-size: 110%;
            }
            p {
                color: white;
                font-family: ObjectiveRegular;
                font-size: 70%;
            }
        }
    }
}