@import '../../../components/styles/colors';

// Small devices (landscape phones, 576px and up)
@media (min-width: 0px) {
  #home-user-mentor {
    .eventos-hoy {
    text-align: center;

      h1 {
        font-family: var(--bold);
        color: var(--secondary-color);
        margin-top: 8%;
        font-size: 150%;
      }
    }
  }
}