@import '../../styles/colors';

// @media (min-width: 768px) {
@media (min-width: 48em) {
    #why-grovity {
        background-color: white;
        .cols-why-grovity {
            justify-content: center;
            h3 {
                text-align: center;
                font-family: ObjectiveMedium;
                color: #242728;
                font-size: 100%;
            }
            p {
                text-align: center;
                font-family: ObjectiveLight;
                color: #242728;
                margin-bottom: 5%;
            }

            .icons-why-grovity {
                color: #242728;
                text-align: center !important;
                margin-top: 10%;
                margin-left: 45%;
                margin-bottom: 5%;
            }
        }
    }
}