@import '../../styles/colors';


// Large devices (desktops, 992px and up)
@media (min-width: 0px) {

  .row-plan-trabajo {
    .ant-row {
      justify-content: start;

      h1 {
        color: var(--secondary-color);
        font-family: var(--medium);
        font-size: 1.8vw;
        text-align: start;
      }

      .ant-divider-vertical {
        height: 70px; 
        border-color: var(--secondary-color);
        margin-right: 2%;
      }

      p {
        color:  var(--primary-text-color);
        font-family: var(--reg);
        text-align: start;
        font-size: medium;
      }
      .info-program {
          color: var(--secondary-text-color);
      }

      .btn-editar-plan {
        color: var(--secondary-color);
        padding-left: 7px;
      }
    
    }
  }
  
  .row-info-plan {
    h5 {
      color: var(--primary-text-color);
    }
    .description-plan {
      p {
          height: 100%;
          width: 100%;
          font-family: var(--light-font);
          color: var(--primary-text-color);
      }
    }
    .divider-plan-des {
      height: 0px; 
      border-color: var(--secondary-text-color); 
      margin-right: 0%;
    }
    .progress-plan {
      margin-bottom: 5%;
    }
  }

  .modales-plan {
    .ant-modal-footer {
      display: none;
    }
  }
}