@import '../../../components/styles/colors';

// Small devices (landscape phones, 576px and up)
@media (min-width: 768px) {
  #home-user {
    .eventos-hoy {
    text-align: center;

      h1 {
        margin-top: 8%;
        font-size: 150%;
      }
    }

    .eventos-hoy-no {
      margin-left: 0%;
      margin-bottom: 3%;
      display: flex;
      justify-content: center;  
    }

    .conecta-mentor {
      text-align: left;
      margin-top: 2%;
  }

  }
}