@import '../../styles/colors';

// @media (min-width: 922px) {
@media (min-width: 57.625em) {
    #como-funciona-home-container {
        background-color: none;

        .founders-titulo {
            margin-top: -10%;
            margin-bottom: 0%;

            h1 {
                color: $primary-green;
                font-family: ObjectiveExtra;
                font-size: 1000%;
            }

            h2 {
                color: #242728;
                align-self: center;
                font-family: ObjectiveBold;
                font-size: 170%;
            }
        }
        .cols-como-home {
            justify-content: center;

            img {
                width: 230px;
                margin-bottom: 20%;
            }
            h1 {
                color: $primary-green;
                font-family: ObjectiveExtra;
                font-size: 1000%;
            }
            h3 {
                font-family: ObjectiveMedium;
                color: #242728;
                font-size: 120%;
            }
            p {
                font-family: ObjectiveLight;
                color: #242728;
                margin-bottom: 10%;
                font-size: 90%;
            }       
        }
        .cols-como-home-blanco {
            justify-content: center;

            img {
                width: 230px;
                margin-bottom: 20%;
            }
            h1 {
                color: $primary-green;
                font-family: ObjectiveExtra;
                font-size: 1000%;
            }
            h3 {
                font-family: ObjectiveMedium;
                color:white;
                font-size: 120%;
            }
            p {
                font-family: ObjectiveLight;
                color: white;
                margin-bottom: 10%;
                font-size: 90%;
                background-color: transparent;
            }       
        }
    }
}

// @media (min-width: 1000px) {
@media (min-width:  64em) {
    #como-funciona-home-container {
        background-color: none;
        margin-top: -10%;

        .founders-titulo {
            margin-top: 0%;
            margin-bottom: -5%;

            h1 {
                color: $primary-green;
                font-family: ObjectiveExtra;
                font-size: 1000%;
            }

            h2 {
                color: #242728;
                align-self: center;
                font-family: ObjectiveBold;
            }
        }
        .cols-como-home {
            justify-content: center;

            img {
                width: 340px;
                margin-bottom: 0%;
            }
            h1 {
                color: $primary-green;
                font-family: ObjectiveExtra;
                font-size: 1000%;
            }
            h3 {
                font-family: ObjectiveBold;
                color: #242728;
                font-size: 120%;
                text-align: end;
            }
            p {
                font-family: ObjectiveLight;
                color: #242728;
                margin-bottom: 10%;
                font-size: 90%;
                text-align: end;
            }       
        }
        .cols-como-home-blanco {
            justify-content: center;
            align-content: center;

            img {
                width: 340px;
                margin-bottom: 0%;
            }
            h1 {
                color: $primary-green;
                font-family: ObjectiveExtra;
                font-size: 1000%;
            }
            h3 {
                font-family: ObjectiveBold;
                color: white;
                font-size: 120%;
            }
            p {
                font-family: ObjectiveLight;
                color: white;
                font-size: 90%;
            }       
        }
    }
}
// @media (min-width: 1100px) {
@media (min-width: 68.75em) {
    #como-funciona-home-container {
        background-color: none;
        margin-top: -7%;

        .founders-titulo {
            margin-top: 0%;
            margin-bottom: 0%;

            h1 {
                color: $primary-green;
                font-family: ObjectiveExtra;
                font-size: 1000%;
            }

            h2 {
                color: #242728;
                align-self: center;
                font-family: ObjectiveBold;
            }
        }
        .cols-como-home {
            justify-content: center;

            img {
                width: 370px;
                margin-bottom: 0%;
            }
            h1 {
                color: $primary-green;
                font-family: ObjectiveExtra;
                font-size: 1000%;
            }
            h3 {
                font-family: ObjectiveBold;
                color: #242728;
                font-size: 120%;
                text-align: end;
            }
            p {
                font-family: ObjectiveLight;
                color: #242728;
                margin-bottom: 10%;
                font-size: 90%;
                text-align: end;
            }       
        }
        .cols-como-home-blanco {
            justify-content: center;
            align-content: center;

            img {
                width: 370px;
                margin-bottom: 0%;
            }
            h1 {
                color: $primary-green;
                font-family: ObjectiveExtra;
                font-size: 1000%;
            }
            h3 {
                font-family: ObjectiveBold;
                color: white;
                font-size: 120%;
            }
            p {
                font-family: ObjectiveLight;
                color: white;
                font-size: 90%;
            }       
        }
    }
}
// @media (min-width: 1200px) {
@media (min-width: 75em) {
    #como-funciona-home-container {
        background-color: none;
        margin-top: -7%;

        .founders-titulo {
            margin-top: -2%;
            margin-bottom: -2%;

            h1 {
                color: $primary-green;
                font-family: ObjectiveExtra;
                font-size: 1000%;
            }

            h2 {
                color: #242728;
                align-self: center;
                font-family: ObjectiveBold;
            }
        }
        .cols-como-home {
            justify-content: center;

            img {
                width: 370px;
                margin-bottom: 0%;
            }
            h1 {
                color: $primary-green;
                font-family: ObjectiveExtra;
                font-size: 1000%;
            }
            h3 {
                font-family: ObjectiveBold;
                color: #242728;
                font-size: 120%;
                text-align: end;
            }
            p {
                font-family: ObjectiveLight;
                color: #242728;
                margin-bottom: 10%;
                font-size: 90%;
                text-align: end;
            }       
        }
        .cols-como-home-blanco {
            justify-content: center;
            align-content: center;

            img {
                width: 370px;
                margin-bottom: 0%;
            }
            h1 {
                color: $primary-green;
                font-family: ObjectiveExtra;
                font-size: 1000%;
            }
            h3 {
                font-family: ObjectiveBold;
                color: white;
                font-size: 120%;
            }
            p {
                font-family: ObjectiveLight;
                color: white;
                font-size: 90%;
            }       
        }
    }
}

// @media (min-width: 1300px) {
@media (min-width: 81.25em) {
    #como-funciona-home-container {
        background-color: none;
        margin-top: -7%;

        .founders-titulo {
            margin-top: 2%;
            margin-bottom: 0%;
        }

        .cols-como-home {
            justify-content: center;

            img {
                width: 400px;
                margin-bottom: 7%;
            }       
        }
        .cols-como-home-blanco {
            justify-content: center;
            align-content: center;

            img {
                width: 400px;
                margin-bottom: 7%;
            }       
        }
    }
}
// @media (min-width: 1400px) {
@media (min-width: 87.5em) {
    #como-funciona-home-container {
        background-color: none;
        margin-top: -6%;

        .founders-titulo {
            margin-top: 0%;
            margin-bottom: 3%;
        }

        .cols-como-home {
            justify-content: center;

            img {
                width: 400px;
                margin-bottom: 7%;
            }       
        }
        .cols-como-home-blanco {
            justify-content: center;
            align-content: center;

            img {
                width: 400px;
                margin-bottom: 7%;
            }       
        }
    }
}
// @media (min-width: 1500px) {
@media (min-width: 93.75em) {
    #como-funciona-home-container {
        background-color: none;
        margin-top: -9%;

        .founders-titulo {
            margin-top: 8%;
            margin-bottom: 4%;
        }

        .cols-como-home {
            justify-content: center;

            img {
                width: 422px;
                margin-bottom: 15%;
            }     
        }
        .cols-como-home-blanco {
            justify-content: center;
            align-content: center;

            img {
                width: 422px;
                margin-bottom: 15%;
            }   
        }
    }
}
// @media (min-width: 1600px) {
@media (min-width: 100em) {
    #como-funciona-home-container {
        background-color: none;
        margin-top: -9%;

        .founders-titulo {
            margin-top: 4%;
            margin-bottom: 4%;
        }

        .cols-como-home {
            justify-content: center;

            img {
                width: 452px;
                margin-bottom: 15%;
            }     
        }
        .cols-como-home-blanco {
            justify-content: center;
            align-content: center;

            img {
                width: 452px;
                margin-bottom: 15%;
            }   
        }
    }
}
// @media (min-width: 1700px) {
@media (min-width: 106em) {
    #como-funciona-home-container {
        background-color: none;
        margin-top: -9%;

        .founders-titulo {
            margin-top: 4%;
            margin-bottom: 4%;
        }

        .cols-como-home {
            justify-content: center;

            img {
                width: 472px;
                margin-bottom: 15%;
            }     
        }
        .cols-como-home-blanco {
            justify-content: center;
            align-content: center;

            img {
                width: 472px;
                margin-bottom: 15%;
            }   
        }
    }
}