@import '../../styles/colors';
@import '../../styles/App.scss';


// Large devices (desktops, 992px and up)
@media (min-width: 0px) {
    #card-plan-emprendedor {

        .info-mentor {
            h5 {
                color: var(--primary-text-color);
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            .responsables-actividad {
                margin-bottom: 1.8%;
            }
        }
        .description-mentor-card {
            position: relative;
            height: 65px;
            overflow-x: hidden;
            p {
                height: 100%;
                width: 100%;
                color: var(--primary-text-color);
            }
        }
    }
}