@import '../../styles/colors';

// @media (min-width: 768px) {
@media (min-width: 48em) {
    #why-eco-container {
        background-color: none;

        .founders-titulo {
            margin-top: 5%;
            margin-bottom: 2%;

            h2 {
                color: #242728;
                align-self: center;
            }
        }

        .row-obtienes {
            margin-top: 8%;
        }

        .cols-why-izq {
            h3 {
                font-family: ObjectiveBold;
                color: $font-dark;
                font-size: medium;
            }

            img {
                width: 80%;
            }
            p {
                font-size: 95%;
            }
        }

        .cols-why-der {
            text-align: right;
            h3 {
                font-family: ObjectiveBold;
                color: $font-dark;
                font-size: medium;
            }
            img {
                width: 80%;
            }
            p {
                font-size: 95%;
            }
        }
    }
}

@media (min-width: 48.0625em) {
    #why-eco-container {
        background-color: none;

        .founders-titulo {
            margin-top: -10%;
            margin-bottom: 0%;

            h2 {
                color: #242728;
                align-self: center;
                font-size: 170%;
            }
        }
    }
}