@import '../../styles/colors';

// @media (min-width: 922px) {
@media (min-width: 57.625em) {
    #call-to-home3 {
        // background-color: white;
        .cols-why-grovity {
            justify-content: center;
            margin-top: 18%;
            h3 {
                text-align: center;
                font-family: ObjectiveMedium;
                color: white;
                font-size: 200%;
                margin-bottom: 3%;
            }
        }
        .btn-call-to-home3 {
            background-color: $primary-green;
            color: white;
            font-family: ObjectiveBold;
            border: none;
        }
    }
}
// @media (min-width: 1200px) {
@media (min-width: 75em) {
    #call-to-home3 {
        // background-color: white;
        .cols-why-grovity {
            justify-content: center;
            margin-top: 18%;
            h3 {
                text-align: center;
                font-family: ObjectiveMedium;
                color: white;
                font-size: 220%;
                margin-bottom: 3%;
            }
        }
        .btn-call-to-home3 {
            background-color: $primary-green;
            color: white;
            font-family: ObjectiveBold;
            border: none;
        }
    }
}
// @media (min-width: 1400px) {
@media (min-width: 87.5em) {
    #call-to-home3 {
        // background-color: white;
        .cols-why-grovity {
            justify-content: center;
            margin-top: 20%;
            h3 {
                text-align: center;
                font-family: ObjectiveMedium;
                color: white;
                font-size: 220%;
                margin-bottom: 2%;
            }
        }
        .btn-call-to-home3 {
            background-color: $primary-green;
            color: white;
            font-family: ObjectiveBold;
            border: none;
        }
    }
}